
 
body {
width: 100dvw;
height: 100dvh;
margin: 0 auto;

}

h1 {
  color: transparent;
  text-shadow: 3px 3px 6px rgba(162, 159, 159, 0.411);
  font-size: 130px;
  text-align: center;
  background-image: url(./assets/letter.jpg);
  -webkit-background-clip: text;
  background-size: contain;
  background-clip: text;
  -ms-text-kashida-space: inherit;  cursor:default;
  margin-top: 20px;
  width: 70%;
  margin-left:320px;
  top: 0 auto;
  border-bottom: 2px rgba(255, 255, 255, 0.185) solid;
  animation: licht2 4s ease-in-out infinite;
}
@keyframes licht2{
  0%{border-bottom: 3px rgba(255, 255, 255, 0.185) solid;}
  25%{border-bottom: 2px rgba(255, 255, 255, 0.482) solid;}
  50%{border-bottom: 2px rgba(255, 255, 255, 0.607) solid;}
  75%{border-bottom: 2px rgba(255, 255, 255, 0.368) solid;}
  100%{border-bottom: 3px rgba(255, 255, 255, 0.185) solid;}
}
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }
}

body:before {
  content: "";
  position: absolute;
  inset: 40% -60% 0 -60%;
  opacity: 0.3;
  pointer-events: none;
  background-image: url(1.jpg);
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  filter: blur(10px);
  transform: scale(1.2);
}
.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-bottom-color: rgba(11, 22, 109, 0.5);
  border-bottom-style: solid;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: 0 0 10px rgba(65, 89, 224, 0.724);
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: paleturquoise;
  font-weight: 700;
  padding: 0.5rem;
  padding-left:20px;
  padding-right:20px;
  background-color:rgba(224, 221, 221, 0.094);
}
.link:hover{
  scale: 1.1;
  margin-left:10px;
  margin-right: 10px;
  color: #d3adad;
}
@keyframes onclick {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }



#nav {
  display: inline;
  font-size: 55px;
  justify-content: space-around;
  text-align: center;
  height: 200px;
  width: 100%;
  top: 0 auto;
  position: fixed;
  margin-top: 78px;
  z-index: 1;
  top: 130px;
  text-shadow: #013cfe 2px 3px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  gap: 1.2rem;
}

h2 {
  color: rgba(255, 255, 255, 0.757);
  text-shadow: 0 0 10px rgba(0, 15, 100, 0.99);
  font-size: 60px;
  text-align: center;
  width: 33%;
  margin-inline: 50px;
  margin-top: 150px;
  margin-bottom: 25px;
  margin-left: 430px;
  margin-right: 380px;
  padding: 1px;
  border-bottom-color: rgba(255, 255, 255, 0.592);
  border-bottom-width: 2px;
  border-bottom-left-radius: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-bottom: solid;
  border-radius: 10px;
}

#footer {
  color: paleturquoise;

  z-index: 1;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.p3 {
  color: paleturquoise;
  text-shadow: #ffffff;
  box-shadow: #013cfe;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
  margin: 0 auto;
  overflow: hidden;
  background-image: url(./assets/2.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -1;
}
.ik {
  position: absolute;
  position: right;
  width: 270px;
  height: 270px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  float: right;
  margin-left: 400px;
  margin-top: 50px;
  text-shadow: rgba(202, 202, 202, 0.5);
  text-transform: unset;
  padding: 0px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  z-index: 1;
  border-style: groove;
  border-width: 10px;
  border-color: rgba(166, 166, 166, 0.315);
  cursor: not-allowed;
  animation: licht 4s ease-out infinite;
}

.overmij {
  font-size: 28px;
  padding: 7px;
  width: 50%;
  height:45%;
  color: paleturquoise;
  text-shadow: #084f3a 2px 1px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-sizing: border-box;
  margin-left: 390px;
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.229);
  border-radius: 6px;
  border: rgba(69, 84, 169, 0.661) double 6px;
}
.groen{
  color: rgb(77, 237, 146);
  text-shadow: #393463 2px 2px;
}
.overmij2 {
  font-size: 28px;
  padding: 7px;
  width: 50%;
  height:45%;
  color: paleturquoise;
  text-shadow: #084f3a 2px 1px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-sizing: border-box;
  margin-left: 390px;
  background-color: rgba(0, 0, 0, 0.229);
  border-radius: 6px;
  border: rgba(69, 84, 169, 0.661) double 6px;
}
.overmij2:hover{
  border: rgba(69, 152, 169, 0.661) double 6px;
  border-radius: 40px;
  padding:20px;
}
.overmij:hover{
  border: rgba(69, 152, 169, 0.661) double 6px;
  border-radius: 40px;
  padding:20px;
}
.over1 {
  font-size: 25px;
  text-align: center;
  color: rgb(116, 247, 247);
  text-shadow: #013cfe 2px 3px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.ik2 {
  position: absolute;
  position: right;
  width: 430px;
  height: 399px;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: white;
  float: right;
  margin-left: 400px;
  margin-top: 50px;
  text-shadow: rgba(202, 202, 202, 0.5);
  padding: 0px;
  border-radius: 80px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  z-index: 1;
  border-style: groove;
  border-width: 10px;
  border-color: rgba(166, 166, 166, 0.315);
  cursor: not-allowed;
  animation: licht 4s ease-out infinite;
}
.ik2:hover{
  background-image: url(./assets/letter.jpg);
}
.ik:hover{
  background-image: url(./assets/letter.jpg);
}
@keyframes licht{
  0% {background-color: #00f7ff78;
  border-radius: 200px;}
  25% {background-color: #3091ff82;
  border-radius: 180px;}
  50% {background-color: #d209598c;
  border-radius: 150px;}
  75% {background-color: #e249d3ad;
  border-radius: 180px;}
  100% {background-color: #00f7ff78;
  border-radius: 200px;}
}

.logo6 {
  height: 40px;
  width: 40px;
}
.p1 {
  height: 50px;
  width: 50px;
}

.page {
  font-size: 25px;
  color: rgb(3, 205, 111);
  text-shadow: #1e1d1d 2px 2px 4px;
  box-shadow: #013cfe;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.card-container2 {
  display: flex;
  width: 70%;
  gap: 50px;
  margin-left: 350px;
  justify-content:space-around; /* Centreert de kaarten */
  padding: 15px;
  margin-block: 1.5px;
  overflow-x: auto; /* Maakt de container scrollbaar als de kaarten breder zijn dan de container */
  height: 42%;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.879);
  background-color: rgba(104, 229, 223, 0.43);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
  background-color: #d79aff68;
}

.card img {
  width: 100%;
  height: 250px;
  display: block;
  border-bottom: #30eaff;
  border-bottom-style: groove;
  border-width: 5px;
}

.card-content {
  padding: 15px;
}

.h4 {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-shadow: #4d01fe 2px 2px 7px;
  text-shadow: #ffffff;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 5px;
}

.p4 {
  font-size: 20px;
  color: rgb(150, 243, 255);
  text-shadow: #04010a 2px 2px 3px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: rgba(154, 167, 251, 0.377);
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
}
.p4:hover{
  font-size: 30px;
  background-color: rgba(88, 109, 247, 0.377);
  color: rgb(255, 255, 255);
}

.button {
  font-family: "Comic Sans MS", cursive, sans-serif;
  flex-direction: column;
  font-size: 25px;
  text-align: center;
  background-color: #a17af0b6;
  box-shadow: #9a02ff;
  color: #fffeff;
  text-decoration: wavy;
  transition: background-color 0.3s ease;
  padding: 13px 20px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.205);
  margin-left: 5px;
}
.button:hover{
  text-align: center;
  background-color: #a17af0b6;
  box-shadow: #6900ae 2px 2px;
  color: #fffeff;
  text-shadow: #04010a 2px 2px;
}

