h1  {
    
    color: transparent;
    text-shadow: 3px  3px 6px rgba(154, 153, 153, 0.5);
    font-size: 85px;
    text-align: center;
    background-image: url(letter.jpg);
    -webkit-background-clip: text;
    background-size: contain;
    background-clip: text;
    -ms-text-kashida-space: inherit;
    border-bottom: 1px solid rgba(154, 153, 153, 0.5);
    cursor:text;
    margin-top: 20px;
}
body:before {
    content: "";
    position: absolute;
    inset: 40% -60% 0 -60%;
    opacity: 0.3;
   pointer-events: none;
    background-image: url(1.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    filter: blur(10px);
    transform: scale(1.2);
    
}
.list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link {
    border-bottom-color: rgba(11, 22, 109, 0.5);
    border-bottom-style:solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; 
    border-bottom-width: 4px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: 0 0 10px rgba(69, 84, 169, 0.661);
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: paleturquoise;
    font-weight: 700;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.048);
    background-color: blur (50px);
    @keyframes onclick {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-5px);
        }
        100% {
            transform: translateY(0);
        }
       
    }
   
   
}
.link before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: turquoise;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;

}
.link::before {
   bottom: 0;
    left: 0;
}

.link:hover::before {
    transform: scaleX(1);
}

#nav {
  

    font-size: 30px;
    text-align: center;
    height: 100px;
    width: 1000px;
    position: fixed;
    z-index: 1;
    top: 130px;
  
}
ul {
   
   margin: 0;
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    gap: 1.2rem;
}
il {
   
  display: inline;
  margin-right: 10px;
    padding: 0;
}
h2 {
    color: rgb(16, 0, 135);
    text-shadow: 0 0 10px rgba(60, 74, 157, 0.5);
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 350px;
    padding: 10px;
  
  border-bottom-color: rgba(255, 255, 255, 0.5);
    border-bottom-style: solid;
    border-bottom-width: 2px;
   border-bottom-left-radius: 15px;

   
    border-radius: 10px;
}
   
 #footer {
    position: absolute;
    color: rgb(16, 0, 135);
    text-shadow: 0 0 10px rgba(35, 47, 116, 0.5);
    margin: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    
}
body {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
background-image: url(2.jpeg);
background-size: cover;
background-attachment: fixed;
}
footer {
 
    margin-right: 5px;
font-size: 20px;
text-align: bottom;
text-shadow: rgba(202, 202, 202, 0.5);
text-transform: unset;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    
}
.ik {
    position: absolute;
    position: right;
    width: 270px;
    height: 270px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    float: right;
    margin-left: 400px;
    margin-top: 50px;
    text-shadow: rgba(202, 202, 202, 0.5);
    text-transform: unset;
    padding: 0px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    z-index: 1;
    border-inline-color: 3px  3px 6px rgba(154, 153, 153, 0.5);
    border-style: double;
    border-width: 10px;
    border-color: rgba(154, 153, 153, 0.5);
    cursor: not-allowed;
}
p {
    
   border-style: solid;
    border-width: 2px;
    border-color: rgba(154, 153, 153, 0.5);
    border-radius: 1em 4em 1em 4em /2em 1em  2em 1em;
   margin-left: auto;
   margin-right: auto;
}